# --- Compilados de C (Binarios) ---
*.exe
*.o
*.out
*.dll

# --- Archivos del Sistema ---
.DS_Store
Thumbs.db

# --- Carpetas de configuración de editores ---
.vscode/
.idea/
/Java/00_HolaMundo/HolaMundo/nbproject/private/
/Java/00_HolaMundo/HolaMundo/build/
/Java/01_Metodos/Metodos_Basicos/nbproject/private/
/Java/01_Metodos/Metodos_Basicos/build/
/Java/02_clases/Clases/nbproject/private/
/Java/02_clases/Clases/build/
/Java/03_Variables/Variables/nbproject/private/
/Java/03_Variables/Variables/build/
/Java/04_Entrada_de_datos/Entrada_de_datos/nbproject/private/
/Java/04_Entrada_de_datos/Entrada_de_datos/build/
/Java/05_Practicas_basicas/Suma_dos_numeros/Suma_dos_numeros/nbproject/private/
/Java/05_Practicas_basicas/Suma_dos_numeros/Suma_dos_numeros/build/
/Java/05_Practicas_basicas/Precio_venta/Precio_venta/nbproject/private/
/Java/05_Practicas_basicas/Precio_venta/Precio_venta/build/
/Java/06_Control_de_flujo/Condicionales/Condicionales_if/nbproject/private/
/Java/06_Control_de_flujo/Condicionales/Condicionales_if/build/
/Java/06_Control_de_flujo/Condicionales/Condicionales switch/nbproject/private/
/Java/06_Control_de_flujo/Condicionales/Condicionales switch/build/
/Java/06_Control_de_flujo/while/nbproject/private/
/Java/06_Control_de_flujo/while/build/
/Java/06_Control_de_flujo/Para_For/Para/nbproject/private/
/Java/06_Control_de_flujo/Para_For/Para/build/
/Java/07_Matrices_y_Vectores/Vectores_o_arrays/Array_Vectores/nbproject/private/
/Java/07_Matrices_y_Vectores/Vectores_o_arrays/Array_Vectores/build/
/Java/07_Matrices_y_Vectores/Matrices/Matrices/nbproject/private/
/Java/07_Matrices_y_Vectores/Matrices/Matrices/build/
/Java/08_Funciones/Funciones/nbproject/private/
/Java/08_Funciones/Funciones/build/
